#home {
    background-image: url('https://media.istockphoto.com/id/1472388969/photo/smiling-barber-and-customer-in-the-barbershop-watching-a-video-on-a-smartphone.webp?b=1&s=170667a&w=0&k=20&c=3vMBrw5ueOk6HFQnaCVb0-Y4Tva-uMKqelKIcARONWM=');
    background-repeat: no-repeat;
    padding: 20px;
  font-size: 200%;
  text-align: center;
  background-position: center;
  background-size: cover;
  /* border-bottom: 30px solid #0f4098;  */
   width: auto;
  align-items: center;
   
} 

#owner {
    background-image: url("https://media.istockphoto.com/id/1374453227/photo/shot-of-a-young-businesswoman-standing-in-an-office-at-work.webp?b=1&s=170667a&w=0&k=20&c=sUfpzZQt8vdDS-Ev7dbbwIbC9afxNchfAxecrO9WwHY=");
    background-repeat: no-repeat;
    padding: 10px;
    font-size: 150%; 
  text-align: left;
  background-position: center;
  background-size: cover;
  /* border-bottom: 30px solid #0f4098;  */
  height: 500px;
  width: auto;
  align-items: center;
 
}

.button {
   border-style: solid;
   border-color: black;
   color: darkblue;
}

a {
    color: black;
}
p.companyhistory {
    text-align: left;
   display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    align-items: center;
}
.clipper-image {
    width: 10%;
     height: auto; 
   float: right;
  display: inline-block;
}

#text-align {
    text-align: center;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    }
    div.gallery img {
        width: 70%;
        height: auto;
        }
     #location {
        clear: left;
        background-image: url("https://media.istockphoto.com/id/483659149/photo/professional-scissors.webp?b=1&s=170667a&w=0&k=20&c=jg_d5FMscvIxskjabgGzqSVtF_pCLNUHPT9rEwSpx_Q=");
        background-repeat: no-repeat;
        padding: 10px;
        font-size: 100%; 
      text-align: left;
      background-position: center;
      background-size: cover;  
        height: 700px; 
       width: auto; 
       align-items: center; 
     }  
     P {
      line-height: 32px;   
      margin-bottom: 30px; 
     } 
     header {
      background-color: white;
      /* position: fixed; */
       top: 0; 
       left: 0;
      right: 0;
      height: auto;
      display: flex; 
       align-items: center; 
  }
  
  header * {
      display: inline;
  }
  
  header li {
      margin: 10px;
  }
  
  header li a {
      color: black;
      text-decoration: none;
  }
 .appointment {
    text-align: center;
    width: 70px;
    background-color: khaki;
  border-radius: 50%;
  border: 3px;
  height: 10px;
  }
  .appointment-booking {
    background-image: url("https://media.istockphoto.com/id/1441548690/photo/black-customers-receive-a-haircut-from-barbers-at-a-black-owned-barbershop.webp?b=1&s=170667a&w=0&k=20&c=PS8rPXHdV_9u_11gERlxIfQtMLI-fTh5smGM-eoa4eg=");
    background-repeat: no-repeat;
    width: 70%;
    height: 70%;
    background-size: cover;
  }
     
    
    

